---
layout: splash
permalink: /
hidden: true
intro: 
  - excerpt: '#### Welcome to the Sigil-Ebook GitHub Organization's Website'
feature_row:
  - image_path: /assets/images/sigil-512.png
    alt: "sigil"
    title: "Sigil - EPUB Editor"
    excerpt: "Sigil was designed to make it easy to create great ebooks using the EPUB format."
    url: "/sigil/"
  - image_path: /assets/images/pageedit-512.png
    alt: "page edit"
    title: "PageEdit - XHTML editor"
    excerpt: "PageEdit is a WYSIWYG XHTML editor intended as a Sigil Companion app."
    url: "/pageedit/"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}